<div class="tab-pane fade" id="croqui" role="tabpanel" aria-labelledby="croqui-tab">
    {% if e.id %}
        <h5>{{ e.veiculo.apelido }} (Placa: {{ e.veiculo.placa }})</h5>
        <h6>Croqui: {{ e.veiculo.croqui }}</h6>
        {% if e.id %}
            {% include 'Turismo/croquis/' ~ e.veiculo.croqui ~ '.html.twig' %}
        {% endif %}
    {% endif %}

</div>
