{% extends '@CrosierLibBase/base.html.twig' %}




{% block body %}

    <div class="container-sm" style="margin-bottom: 50px">

        <div class="row mb-2">
            <div class="col-12 text-center">
                <img class="card-img-top" src="{{ getEnv('CROSIER_LOGO') }}" style="max-width: 200px"
                     alt="Card image cap">
            </div>
        </div>

        <div class="card">

            <div class="card-header">


                <div class="row">
                    <div class="col-12">
                        <h3>Viagens Disponíveis</h3>
                    </div>

                </div>

            </div>

            <div class="card-body">

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="filter_dtsVenda" class="required">Data</label>
                            <input type="text" id="filter_dts" name="filter[dts]"
                                   data-mask="00/00/0000 - 00/00/0000"
                                   style="text-align: center"
                                   class="form-control"
                                   value="{{ filter['dts']|default('') }}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="filter_mes" class="required">Mês</label>
                            <input type="month" id="filter_mes" >
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>


{% endblock %}

{% block down_scripts %}
    {{ encore_entry_script_tags('Turismo/App/form_passagem_pesquisarViagens') }}
{% endblock %}
