{% extends 'Turismo/App/form_passagem_base.html.twig' %}


{% block conteudo %}

    <div class="card">

        <div class="card-header">

            <div class="row">
                <div class="col-12">
                    <h3>Login</h3>
                </div>
            </div>

        </div>

        <div class="card-body">

            <div class="row">
                <div class="col">
                    {% include '@CrosierLibBase/Util/flashesOnAlerts.html.twig' %}
                </div>
            </div>

            <form action="{{ url('tur_app_compra_doLogin') }}" method="post">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="cpf" class="required">CPF</label>
                            <input type="text" id="cpf" name="cpf"
                                   class="form-control cpf focusOnReady" required
                                   value="{{ cpf|default('') }}">
                            <input type="hidden" name="redirectTo" value="{{ url(redirectTo|default(false) ? redirectTo : 'tur_app_compra_ini') }}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="dadosCliente_senha1" class="required">Senha</label>
                            <input type="password" id="senha" name="senha"
                                   class="form-control notuppercase" required
                                   value="">
                        </div>
                    </div>
                </div>


                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="btnAvancar">&nbsp;</label>
                        <button type="submit" class="btn btn-primary btn-block" id="btnAvancar" title="Avançar">
                            <i class="fas fa-search"></i> Avançar
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}
