{% extends '@CrosierLibBase/base.html.twig' %}




{% block body %}

    <div class="container-sm" style="margin-bottom: 50px">

        <div class="row mb-2">
            <div class="col-12 text-center">
                <img class="card-img-top" src="{{ getEnv('CROSIER_LOGO') }}" style="max-width: 200px"
                     alt="Card image cap">
            </div>
        </div>

        <div class="card">

            <div class="card-header">


                <div class="row">
                    <div class="col-12">
                        <h3>Informe seus dados</h3>
                    </div>

                </div>

            </div>

            <div class="card-body">

                <div class="row">
                    <div class="col">
                        {% include '@CrosierLibBase/Util/flashesOnAlerts.html.twig' %}
                    </div>
                </div>

                <form action="{{ url('tur_app_compra_informarDadosPassageiros') }}" method="get">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="dadosCliente_cpf" class="required">CPF</label>
                                <input type="text" id="dadosCliente_cpf" name="dadosCliente[cpf]"
                                       class="form-control cpf" required
                                       value="">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="dadosCliente_nome" class="required">Nome</label>
                                <input type="text" id="dadosCliente_nome" name="dadosCliente[nome]"
                                       class="form-control" required
                                       value="">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="dadosCliente_celular" class="required">Celular</label>
                                <input type="tel" id="dadosCliente_celular" name="dadosCliente[celular]"
                                       class="form-control telefone" required
                                       value="">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="dadosCliente_telefone" class="required">Telefone</label>
                                <input type="tel" id="dadosCliente_telefone" name="dadosCliente[telefone]"
                                       class="form-control telefone"
                                       value="">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="dadosCliente_email" class="required">E-mail</label>
                                <input type="email" id="dadosCliente_email" name="dadosCliente[email]"
                                       class="form-control notuppercase"
                                       value="">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="btnFiltrar">&nbsp;</label>
                            <button type="submit" class="btn btn-primary btn-block" id="btnFiltrar" title="Avançar">
                                <i class="fas fa-search"></i> Avançar
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>


    </div>


{% endblock %}

{% block down_scripts %}
    {{ encore_entry_script_tags('Turismo/App/form_passagem_pesquisarViagens') }}
{% endblock %}
