<div class="card" style="max-width: 600px; margin: 0 auto; float: none;">

    <div class="card-body">

        <div class="row">
            <div class="col text-center">
                Frente
            </div>
        </div>


        <div class="row mb-2">
            <div class="col-3">
                {% include 'Turismo/poltrona.html.twig' with {'poltrona': 1, 'poltronas': poltronas} %}
            </div>
            <div class="col-3">
                {% include 'Turismo/poltrona.html.twig' with {'poltrona': 2, 'poltronas': poltronas} %}
            </div>
            <div class="col-2">

            </div>
            <div class="col-4 text-center text-muted align-text-bottom">
                <div class="naoPoltrona">Escadas</div>
            </div>
        </div>

        {% set j = 3 %}
        {% for i in 1..10 %}
            <div class="row mb-2">
                <div class="col-3">
                    {% include 'Turismo/poltrona.html.twig' with {'poltrona': j+2, 'poltronas': poltronas} %}
                </div>
                <div class="col-3">
                    {% include 'Turismo/poltrona.html.twig' with {'poltrona': j+3, 'poltronas': poltronas} %}
                </div>
                <div class="col-3">
                    {% include 'Turismo/poltrona.html.twig' with {'poltrona': j+1, 'poltronas': poltronas} %}
                </div>
                <div class="col-3">
                    {% include 'Turismo/poltrona.html.twig' with {'poltrona': j, 'poltronas': poltronas} %}
                </div>
            </div>
            {% set j = j+4 %}
        {% endfor %}

        <div class="row mb-2">
            <div class="col-3">
                {% include 'Turismo/poltrona.html.twig' with {'poltrona': 43, 'poltronas': poltronas} %}
            </div>
            <div class="col-3">
                {% include 'Turismo/poltrona.html.twig' with {'poltrona': 44, 'poltronas': poltronas} %}
            </div>
            <div class="col-2">

            </div>
            <div class="col-2">

            </div>
        </div>

    </div>
</div>


